body{
	margin: 0;
	/*box-sizing: border-box;*/
	font-family: -apple-system,BlinkMacSystemFont,
	segoe ui,roboto,oxygen,cantarell,
	helvetica neue,ubuntu,sans-serif;
}

@media screen and (min-width: 600px){
   .topnav{

	display: flex;
	background-color: #222b30;
	align-items: center;
	/*padding: 1px;*/
	/*justify-content: center;*/
	/*justify-content: space-between;*/
    }
}


.topnav img{
	width: 30px;
	height: 30px;
	/*border: 1px solid gray;*/
	/*border-radius: 4px;*/
	/*padding: 8px;*/
	margin-left: 16px;
}

.topnav .nav_title{
	text-decoration: none;
	color: white;
	margin-left: 28px;
	margin-right: 28px;
	/*font-weight: bold;*/
	font-size: 18px;
}



 .topnav input[type=text] {
      
      font-size: 17px;
      padding: 8px 10px 8px 10px;
      /*max-width: 100%;*/
      /*width: 100%;*/
      width: calc(100% - 320px);
      border: none;
      margin-right:0px;
      border-radius: 4px 0 0px 4px;
      outline: none;

      background: rgba(255,255,255,.25);
      color: #fff;
      /*border-color: #fff;*/

   }

   /*.topnav input:focus{
   	background-color: white;
   	color: black;
   }
*/
   .btn_search{
   	/*margin-left: 0;*/
   	padding: 0px 18px 0px 18px;
   	border:none;
   	font-size: 17px;
   	/*background-color: white;*/
   	 background: rgba(255,255,255,.25);
   	border-radius: 0px 4px 4px 0px;
   	cursor: pointer;
   	outline: none;
   }

  .topnav .nav_links {
  	/*margin-left: auto;*/
    /*display: block;*/
    color: white;
    /*text-align: center;*/
    /*padding: 14px 16px;*/
    text-decoration: none;
    font-size: 17px;
  }

   .exp_link{
  	margin-left: auto;
  }

  .other_links{
    margin-left: 16px;	
    margin-right: 16px;
  }

  .btn_upload{
  	  background-color: #0f918b;
      color: white;
      /*border-style: none;*/
      font-weight: bold;
      padding: 8px;
      margin-right: 16px;
      border: 1px solid #0f918b;
      border-radius: 4px;
      outline: none;
      cursor: pointer;
  }
 
  .main_container-1{
  	margin: 50px auto;
  	/*margin-top: 50px;*/
  	width: 50%;
  	padding: 12px;
  	display: flex;
  	flex-direction: column;
  	/*background-color: gray;*/
  	/*justify-content: flex-end;*/
  	align-items: center;
  }
  
  .main_container-1_title{
    font-size: 36px;
  }
  .main_container-1_desc{
    color: gray;
    font-size: 16px;
    text-align: center;
    line-height: 1.9;
  }

  .upload_link{
  	text-decoration: none;
  	color: white;
  	background-color:#0f918b;
  	padding: 12px 18px;
  	border-radius: 8px; 
  }
  .join_link{
  	margin-left: 12px;
  	text-decoration: none;
  	color: gray;
  	border:1px solid gray;
  	background-color:white;
  	padding: 12px 18px;
  	border-radius: 4px; 
  }

  .main_container-2{
  	background-color: gray;
  	display: flex;
  	width: 50%;
  	margin: 12px auto;
  	padding: 12px;
  }